
/*-- selector 
body {
   <!-- declaration -->
   font-family: Arial, sans-serif;
   
}
*/

p {
   
   font-family: 'Inter', sans-serif;
   text-align: justify;
   font-size: 15px;
   min-width: 200px;
   
}

h1 {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 100px;
   background-color: aliceblue;
   text-align: center;
}

h2 {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 25px;
   color: blue;
}

h3 {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 20px;
   color: lightskyblue;
}

nav {
   font-family: 'Work Sans', sans-serif;
   font-weight: bold;
}



/* lists */
ul {
   font-family: 'Work Sans', sans-serif;
}

h4 {
   font-family: 'Bebas Neue', sans-serif;
}

/* table class */

.table-class {
   border-collapse: collapse;
   margin: 25px 0;
   min-width: 400px;
   font-size: 0.9em;
}

.table-class tbody tr {
   border-bottom: 1px solid gainsboro;

}

/*todas las filas pares*/
.table-class tbody tr:nth-of-type(even) {
   background-color: whitesmoke;

}

.esa {
   column-width: 200px;
}

.table-class th,
.table-class td {
   padding: 12px 15px;
   font-family: 'Inter', sans-serif;
}

/* para las table heads que tmb son table rows*/
.table-class thead tr {
   background-color: aliceblue;
   text-align: left;
   font-family: 'Bebas Neue', sans-serif;
}


/* image grid */

.image-grid {
   /* create variables */
   --gap : 16px;
   --num-cols: 4;
   --row-height: 300px;

   /* resizing the box */
   box-sizing: border-box;
   /* using the variable */
   padding: var(--gap); 

   display: grid;
   grid-template-columns: repeat(var(--num-cols), 1fr); /* --> 4 equal-width columns */
   grid-auto-rows: var(--row-height); /* unlimited amount of 300px rows */
   gap: var(--gap);
}

/* selects all img elements inside the class */
.image-grid > img {
   width: 100%;
   height: 100%;
   /*images mantain aspect ratio */
   object-fit: cover;
}

/* new image grid class to give protagonism to a single image.*/

.image-grid-col-2{
   grid-column: span 2;
}

.image-grid-row-2{
   grid-row: span 2;
}
/* changing the rows depending on the device size*/

@media screen and (max-width: 1024px){
   .image-grid {
      --num-cols: 2;
      --row-height: 200px;
   }
}



